*{
    margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    display: flex;
    padding: 10px;
}

.text{
  padding-left: 50px;
  margin-left: 320px;
  width: 320px;
  border: none;

}
body{
    width: 1200px;
    margin: 0 auto;
    padding:0;
    
}
.navbar{
    margin-left: 100px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hh{
    display: flex;
    justify-content: left;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
aside{
    position: absolute;
    margin-left: 400px;
}

section{
    padding: 10px;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
pre{
 color: gray;
}
footer{
    height: 100px;
    margin-top: 100px;
    padding-top: 50px;
    border-top: 1px solid black;
}

nav{
    float: right;
}

.material-icons{
    font-size: 32px;
    margin-left: 1320px;
    position: absolute;
    color: rgb(145, 18, 145);
}